.hero{
    position: relative;
    height: 100vh;
    width: 100%;
    background: black;
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-left: 80px;
}


/* purple Glow at Top */
.glow{
    position: absolute;
    top: -200px;
    left: 50%;
    transform: translate(-50%);
    width: 800px;
    height: 500px;
    background: radial-gradient(circle ,#9d4edd 0%, transparent 70%);
    filter: blur(120px);
    opacity: 0.7;
}

.stars{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(white 1px, transparent 1px);
    background-size: 40px 40px;
    opacity: 0.15;
}

.hero-content {
    position: relative;
    max-width: 600px;
    z-index: 2;
}

.badge {
    display: inline-block;
    padding: 6px 15px;
    border: 1px solid #9d4edd;
    border-radius: 20 px;
    background: rgba(255, 255, 255, 0.05);
    font-size: 14px;
    margin-bottom: 20px;
}

.hero h1{
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.gradient-text{
    background: linear-gradient(90deg, #9d4edd, #4cc9f0) ;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
    color: #cccccc;
    line-height: 1.6;
    margin-bottom: 30px;
}

.hero-btn {
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    background: #7b2cbf;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;

}

.button-group {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.hero-btn-outline {
  padding: 12px 30px;
  border-radius: 8px;
  border: 1px solid #7b2cbf;
  background: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero-btn-outline:hover {
  background: rgba(123, 44, 191, 0.2);
}