@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper{
  position: relative;
}

.particles-container{
  position: absolute;
  inset: 0;
  z-index: 0;
}

body {
  /* background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); */
  background: black;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.content{
  position: relative;
  z-index: 1;
}
